:root {
  --body-bg-color: #dce4e3;
  --green: #18c29c;
  --light-green: #8ed7c6;
  --light-grey: #dce4e3;
  --text-color: #084236;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Poppins;
}

main {
  display: flex;
}

.responsive-menu {
  background-color: var(--green);

  width: 4.8rem;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard {
  background-color: var(--body-bg-color);
  height: 100vh;
  width: 100vw;
}

.dashboard h1 {
  font-weight: 500;
  font-size: 1.5rem;

  color: var(--text-color);

  margin: 1rem;
}

.menu-toggle {
  padding-top: 1.5rem;
}

nav li {
  list-style: none;
  padding: 0.8rem;
  margin-top: 1rem;
}

nav li:hover {
  background-color: var(--light-grey);

  border-radius: 0.8rem;

  padding: auto;
}

.login {
  background-color: var(--light-green);

  width: 4.8rem;
  height: 3.75rem;

  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-height: 600px) {
  .login {
    display: none;
  }
}

/* Modal -------------------- */
.modal {
  opacity: 0;
  visibility: hidden;

  z-index: 1;
  transition: 0.1s linear;
}

.modal.active {
  opacity: 1;
  visibility: visible;
}

.menu-desktop {
  width: 15.5rem;
  height: 100vh;

  position: absolute;
  top: 0;
  left: 0;

  background-color: var(--green);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-desktop {
  padding-top: 1.5rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 12rem;

  margin-bottom: 0.55rem;
}

.itens-desktop {
  width: 90%;
  /* height: 100vh; */
}

.itens-desktop li {
  margin-top: 1rem;
}

.itens-desktop li:hover {
  background-color: var(--light-grey);

  border-radius: 0.8rem;

  padding: auto;
}

.text-span {
  margin-left: 0.8rem;
  text-align: center;
  float: center;
}

.login-desktop {
  background-color: var(--light-green);

  width: 15.5rem;
  height: 3.75rem;

  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.perfil-picture {
  width: 2.75rem;
  height: 2.75rem;
}

.perfil-description {
  color: var(--text-color);
}

.perfil-description h3 {
  font-size: 0.9rem;
  font-weight: 400;
}

.perfil-description p {
  font-size: 0.75rem;
}
